@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
  background-image: url('https://loremflickr.com/1920/1080?random=1');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  object-fit: contain;
}

.js-clock {
  font-size: 60px;
  margin-top: -30px;
}

.js-clock h1,
.canterInformation h4 {
  background-color: rgba(255, 255, 255, 0.445);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
}

.canterInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-weather {
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.445);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
}

form input {
  all: unset;
  background-color: rgba(255, 255, 255, 0.603);
  width: 400px;
  height: 40px;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px;
}
